@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 16px; /
}
body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
.section-heading {
    color: #163f79 !important;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3% !important;
    font-family: "Poppins", sans-serif;
    font-size: 45px !important;
}
section {
    margin-top: 35px;
}

.navbar a {
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;
    /* color: white; */
}
.navbar-nav .nav-link.active {
    font-weight: 600;
    font-size: 16px;
    /* color: white !important; */
}
.navbar .navbar-brand {
    font-size: 20px;
}
.navbar-toggler .navbar-toggler-icon {
    color: white !important;
}
.Main-Header {
    margin-top: 8%;
}
.Main-Header h3 {
    color: #354043;
    margin-top: 2%;
}
.Main-Header h1 {
    color: #163f79;
}
.Main-Header .icon{
    margin-right:15px;
}
.Main-Header p {
    text-align: justify;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.Main-Header .about-img {
    width: 80%;
    border-radius: 30px;
}
.Main-Header .li-head {
    font-size: 1.1rem;
    font-weight: 600;
    list-style: none;
}
.Main-Header .li-head i {
    color: #163f79;
}

.Challenge-section {
    padding: 3%;
}
.Challenge-section h2 {
    text-align: center;
}

.Challenge-section .card {
    position: relative;
    text-align: center;
    padding-top: 20px;
    margin-top: 10% !important;
    margin: auto;
    height: 13rem;
    border-radius: 10px;
    width: 22rem !important;
}
.Challenge-section .card .card-title {
    color: #163f79;
}

.Challenge-section .card-icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Challenge-section .card-icon img {
    width: 50px;
    height: 50px;
}
/* .struggle-section::before {
    content: "";
    background-color: #163f79;
    position: absolute;
    left: 0;
    width: 50%;
    height: 60%;
} */


.struggle-content {
    position: relative;    
    width: 100%;
}
.struggle-content-heading {     
    text-align: left;
}
.struggle-section .struggle-img {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.struggle-section ul {
    list-style: none;
}
.struggle-section ul i {
    color: rgb(10 45 167);
    margin-right: 15px;
}
.struggle-section ul li {   
    display: flex;
    font-size: 18px;
}
.struggle-section-list{
margin-left: auto;
margin-top: 25px;
}


.changed-section h2 {
    color: #163f79;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
}
.changed-section p {
       justify-content: center;
    margin: auto;
}


.changed-section::before {
    content: "";
    background-color: #163f79;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
}
.changed-section .custom-hr {
    height: 5px;
    background-color: #fff;
    width: 60%;
}
.changed-section .section-heading-white {
    color: #fff !important;
}
.changed-section .info {
    padding: 50px 0px;
    position: relative;
    z-index: 99;
}
.changed-section .info-text {
    color: #fff;
    padding-top: 15%;
    font-size: 18px;
}
.changed-section .card {
    position: relative;
    text-align: center;
    padding-top: 20px;
    margin-top: 10% !important;
    margin: auto;
    height: 28rem !important;
    border-radius: 10px;
    width: 22rem;
    border-bottom: 5px solid rgb(22 63 121);
    padding: 10px;


}
.changed-section .card img{
    height: 100px;
    width: 120px;
    object-fit: contain;
    margin-bottom: 20px;    
    
}
.changed-section .card p {
    width: 100%;
    text-align: justify;
}
.changed-section .card .card-title {
    color: #000;
    margin-bottom: 20px;
}



.testimonials {
    position: relative;
}
.testimonials .review {
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background-color: #163f79;
    color: #fff;
}
.testimonials img {
    border-radius: 50%;
}
.testimonials .quote-icon {
    font-size: 3rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.testimonials .right-quote {
    float: right;
}

footer {
    margin-top: 8rem;
    /* background-color: #cfcfcf; */
    background-color: #444444;
    padding: 5rem 2rem 3rem 2rem;
}
footer .info {
    position: relative;
    justify-content: center;
    align-items: center;
}
footer .social img {
    margin: 15px;
    /* color: #000; */
    color: #fff;
}
footer h4, footer h2,
footer p {
    /* color: #000; */
    color: #fff;
    margin: 20px;
    text-decoration: none;
}
footer i {
    margin-right: 15px;
}
footer a {
    /* color: #000; */
    color: #fff;

    text-decoration: none;
}
footer input,
footer button {
    padding: 10px 20px 10px 20px;
    border-radius: 48px;
}
@media (max-width:768px) {
    .changed-section .info .info-text {
        padding-top: 0px;
    }
}
@media (max-width: 480px) {
    .Main-Header {
        margin-top: 20%;
    }
    .Main-Header p {
        text-align: justify;
        margin-right: 10px !important;
    }
    .Main-Header .about-img {
        width: 100%;
    }
    .changed-section p {
        width: 100%;
    }
    .changed-section .card {
        margin: 20px;
        width: 18rem;
        height: 33rem !important;
    }
    .struggle-section .struggle-img {
        margin-left: 20px !important;
        width: 20rem;
    }
    /* .struggle-section::before {
        content: "";
        background-color: #163f79;
        position: absolute;
        left: 0;
        width: 100%;
        height: 30%;
    }
    .struggle-content-heading {
        color: #fff !important;
        text-align: center !important;
    }
    .struggle-section ul {
        margin-top: 15%;
    } */
}
